
<div class="container jumbotron">
    <div class="col-md-12">
        <h2 class="text-center"><b>Elan əlavə olunub və yoxlanışı gözləyir.</b></h2>
        <p class="text-center"> Moderator tərəfindən yoxlanıldıqdan sonra, elan ziyarətçilərə bu şəkildə göstəriləcək.</p>
    </div>
</div>